@model TesTransaction.Models.TrPaymentViewModel

@{
    ViewBag.Title = "PaymentMenu";
}

@section Styles {
    <link href="@Url.Content("~/Content/test2.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/pos2.js")" type="text/javascript"></script>
}

<h2>montant à payer: @Model.GlobalTotal</h2>

<div id="payTransac" class="row">
    <div id="paymentMethod" class="col-md-4">
        <h4>Menu</h4>
        <div id="paymentMethods">
            <button id="cashMethod" class="fct_btn" onclick="">Cash</button>
            <button id="cardMethod" class="fct_btn" onclick="">Carte</button>
            <button id="voucherMethod" class="fct_btn" onclick="">Bon</button>
        </div>
    </div>
    <div id="paymentChoice">
        <p>TOTO</p>
    </div>
</div>
